{% include 'base.html' %}
<!-- BODY -->
{%block body%}
<!-- Jinja -->
<div class="container">

    <div class="form">
        <form action="/submit" method="POST">
            {%set index = 0%}
            <!-- For loop -->
            {%for k, v in questions.items()%}
            <div class="row">
                <label class="form-group">{{k}}</label>
            </div>
            <div class="row">
                <select name="{{index}}" class="form-control">
                      {%for opt in v%}
                        <option name="{{opt}}" value="{{opt}}">{{opt}}</option>
                      {%endfor%}
                    </select>
            </div>
            {% set index = index + 1%}
            <!-- End selection-->
            {%endfor%}
            <div class="row">
                <button class="button btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}